<div class="overlay" [class.visible]="this.visible">
    <div class="overlay-settings" *ngIf="image">
        <button mat-mini-fab color="primary" [mat-menu-trigger-for]="settingsMenu">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #settingsMenu="matMenu" class="settings-menu">
            <div class="settings-entry">
                <p i18n>Playback speed</p>
                <div class="settings-duration">
                    <button mat-icon-button (click)="changePlaybackSpeedClicked($event, -CHANGE_DURATION_SIZE)" [disabled]="this.playbackDuration <= MIN_DURATION">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <span>{{this.playbackDuration / 1000 | number:"1.1-1" }}s</span>
                    <button mat-icon-button (click)="changePlaybackSpeedClicked($event, CHANGE_DURATION_SIZE)">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </mat-menu>
    </div>
    <div class="overlay-top-bar">
        <button *ngIf="image" mat-mini-fab color="primary" (click)="showOriginalImage($event, image)">
            <mat-icon>download</mat-icon>
        </button>
        <button class="close" mat-mini-fab color="primary" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="image-container" *ngIf="image">
        <img class="mat-elevation-z10" [src]="image?.optimized_url" alt="{{image?.id}}"/>
    </div>
    <div class="overlay-footer">
        <div class="start-stop">
            <button mat-mini-fab color="primary" (click)="previous()">
                <mat-icon *ngIf="this.activeImageIdx <= 0">skip_previous</mat-icon>
                <mat-icon *ngIf="this.activeImageIdx > 0">navigate_before</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="startPlayback()" *ngIf="!this.isPlaying">
                <mat-icon>play_arrow</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="pausePlayback()" *ngIf="this.isPlaying">
                <mat-progress-spinner
                        class="example-margin"
                        color="primary"
                        mode="determinate"
                        diameter="40"
                        strokeWidth="2"
                        [value]="this.timerProgress">
                </mat-progress-spinner>
                <mat-icon>pause</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="next()">
                <mat-icon *ngIf="this.activeImageIdx === this.images.length - 1">skip_next</mat-icon>
                <mat-icon *ngIf="this.activeImageIdx !== this.images.length - 1">navigate_next</mat-icon>
            </button>
        </div>
    </div>
</div>
