<section class="hero">
    <div class="background-wrapper">
        <div class="content-wrapper">
            <h1>Jolanda & Martin</h1>
            <p>Merci vi mou!</p>
        </div>
    </div>
    <a class="more-button" href="#video-and-gallery-link">
        <div>Zu dä Biuder!</div>
        <mat-icon>arrow_downward</mat-icon>
    </a>
</section>

<section class="video-and-gallery-link" id="video-and-gallery-link">
    <div class="content-wrapper">
        <a class="video-wrapper" href="assets/videos/slideshow-jum.mp4" target="_blank">
            <div class="video-infos">
                <mat-icon>play_circle_filled</mat-icon>
                <p>Slideshow startä</p>
            </div>
        </a>
        <div class="gallery-cta">
            <div>
                <h2>Für üsi Gäscht</h2>
                <p>Merci siter derbii gsi! <br/> Hie chöiter no meh Biuder ahluege vor
                    <a href="https://www.jeaninecphotography.ch/" target="_blank">Fotografin</a> und der Fotibox.</p>
                <form [formGroup]="formGroup" (ngSubmit)="formGroup.valid && onSubmit()">
                    <mat-dialog-content>
                        <div class="field-container vertical-field-wrapper">
                            <app-input
                                    [formGroupRef]="this.formGroup"
                                    [inputTabIndex]="1"
                                    [formControlKey]="loginFormFieldsEnum.USER_NAME"
                                    i18n-label label="Benutzernamä"
                            ></app-input>
                            <app-input
                                    [formGroupRef]="this.formGroup"
                                    [inputTabIndex]="2"
                                    inputType="password"
                                    [formControlKey]="loginFormFieldsEnum.PASSWORD"
                                    i18n-label label="Passwort"
                            ></app-input>
                            <mat-error *ngIf="showCredentialsError">
                                Benutzername oder Passwort falsch!
                            </mat-error>
                        </div>
                    </mat-dialog-content>
                    <mat-dialog-actions>
                        <button mat-flat-button
                                type="submit"
                                color="primary"
                                [disabled]="!formGroup.valid"
                                (click)="onSubmit()" i18n>
                            Witer zu de Galeriä
                        </button>
                    </mat-dialog-actions>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="thanks">

</section>

