@import '/src/assets/styles/vars.layout';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  margin: 0 auto;
  max-width: $layout-width;
}

.content {
  margin-top: $main-margin;
}

.container {
  @media (max-width: $layout-width) {
    padding-left: $main-margin;
    padding-right: $main-margin;
  }
}
