@import '/src/assets/styles/vars.layout';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font: 400 15px / 20px Dosis;
}

html, body {
  .mat-card-subtitle,
  .mat-card-content,
  .mat-typography {
    font-size: 15px;
  }
}

.app-container {
  margin: 0 auto;
  max-width: $layout-width;

  &.fullscreen {
    max-width: initial;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

.content {
  margin-top: $main-margin;
}

.container {
  @media (max-width: $layout-width) {
    padding-left: $main-margin;
    padding-right: $main-margin;
  }
}
